<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <div id="top-bar">
        <h1><%=task.name%></h1>
        <a href="/tracker" class="btn btn-primary">Go Home</a>
      </div>
      <p>Status: <% if (task.status){%> Done! <%} else {%> Not Done... <% } %></p>
      <p>Notes: <%= task.notes %></p>
      <div id="button-bar">
        <form action="/tracker/<%=task.id%>?_method=DELETE" method="POST">
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <% if (task.status){%>
          <a href="/tracker/<%=task.id%>/share" class="btn btn-success">Share it!</a>
        <% } %>
        <a href="/tracker/<%=task.id%>/edit" class="btn btn-warning">Edit</a>
      </div>
    </div>
  </body>
</html>
