<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <div id="top-bar">
        <h1>Share Home</h1>
        <a href="/share/new"><button class="btn btn-primary">Share</button></a>
      </div>
      <div id="card-container">
      <% if (shares.length === 0){ %>
          <p>There's nothing here...</p>
      <% } %>
      <% for ( let i = 0; i < shares.length; i++){ %>
        <a href="/share/<%=shares[i].id%>" class="share-link">
            <figure class="card">
              <% if (shares[i].img.path) {
                if (!shares[i].img.converted) {%>
                  <img src="data:image/<%=shares[i].img.contentType%>;base64,<%=shares[i].img.data.toString('base64')%>">
                <% } else {%>
                  <img src="<%=shares[i].img.path.slice(6)%>.png">
                <% } %>
              <% } %>
              <figcaption>
                <p class="post-title"><%= shares[i].title %></p>
                <%=shares[i].content%>
              </figcaption>
            </figure>
        </a>
      <% } %>
      </div>
    </div>
    <nav>
      <ul id="nav-list">
        <li class="nav-item"><a href="/tracker"><span class="nav-link-text">Tracker</span></a></li>
        <li class="nav-item"><a href="/share"><span class="nav-link-text">Share</span></a></li>
        <li class="nav-item"><a href="/help"><span class="nav-link-text">Lost & Found</span></a></li>
      </ul>
    </nav>
  </body>
</html>
