<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <div id="top-bar">
        <h1>Share Info</h1>
        <a href="/share" class="btn btn-primary">Go Home</a>
      </div>
      <div id="card-container">
        <h2><%= share.title %></h2>
        <% if (share.img.path) {
          if (!share.img.converted) {%>
            <img src="data:image/<%=share.img.contentType%>;base64,<%=share.img.data.toString('base64')%>">
          <% } else {%>
            <img src="<%=share.img.path.slice(6)%>.png">
          <% } %>
        <% } %>

        <p class="share-content">
          <%= share.content %>
        </p>
        <% share.comments.forEach((comment) => { %>
          <div class="comment-container">
            <div class="comment-info">
              <p class="timestamp"><%= comment.date %></p>
              <form class="single-button-form" action="/help/<%=post.id%>/comment/<%=comment.id%>?_method=DELETE" method="POST">
                <input type="submit" id="button-form" class="btn btn-danger" value="Remove">
              </form>
            </div>
            <p class="comment-text"> <%= comment.text %></p>
          </div>
        <% }) %>
      </div>
      <div id="button-bar">
        <form action="/share/<%=share.id%>?_method=DELETE" method="POST">
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <a href="/share/<%=share.id%>/edit" class="btn btn-warning">Edit</a>
      </div>
    </div>
  </body>
</html>
